<div class="content-section">
    <!-- <p>name : <%=user.name%> </p>
    <p>id  : <%=user.id%></p>
    <p>email: <%=user.email%></p>
    <p>passwod :<%=user.password%> </p>
    <button><a href="/users/sign-out">sign out</a></button> -->
    <%- include('_menu'); %>
    <div class="content">

    </div>
    <div class="group">

    </div>
</div>
<script src="https://kit.fontawesome.com/74e711aaac.js" crossorigin="anonymous"></script>